
<div class="rectangle"><br>
    <div class="title-ma">
        <span style="color: white; font-size: 35px; font-family: Montserrat; font-weight: 600; text-transform: uppercase; word-wrap: break-word">Gérez simplement vos campagnes marketing e-mails et SMS</span>
    </div>
    <div class="row">
       <div class="col-md-2" style="margin-left: 50px;">
        <button class="btn btn-light left-button" style="border-radius: 18px 9px; color: #0021F5;; font-family: Montserrat; font-size: 30px; font-style: normal; font-weight: 600; line-height: normal; background: #F2EFEF; box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.32);">Inscrivez-vous</button>
       </div>
       <div class="col-md-2">
        <button class="btn btn-primary right-button"  style="color: #FFF; font-family: Montserrat; font-size: 25px; font-style: normal; font-weight: 600; line-height: normal;border-radius: 18px 9px; border: 3px solid #FFF; box-shadow: 0px 4px 10px 0px rgba(0,
        0, 0, 0.32); background: rgba(28, 105, 255, 0.75);;; " >Nous contacter</button>
       </div>
    </div>
</div>