<app-header></app-header>
<div class="row body" >
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="margin-left: 60px;margin-top:80px">
            <p style="color: #FFF;font-family: Montserrat;font-size: 40px;font-style: normal;font-weight: 600;line-height: normal;">Plateforme pour booster <br> votre relation client grâce <br>aux <span style="color:#0B0146;;"> sms professionnel</span> <br> et l 'expertise PROOTE
            <p style="color: #FFF;font-family: Montserrat;font-size: 26px;font-style: normal;font-weight: 300;line-height: normal;">Nous vous accompagnons dans l'atteinte de vos objectifs, donnez vie à votre stratégie de communication avec la plateforme de référence PROOTE !</p>
            <div class="button-container ">
                <button class="button " style="color: #0F2EF5;font-family: Montserrat;font-size: 20px;font-style: normal;font-weight: 600;line-height: normal;text-transform: uppercase;border-radius: 9px;background: #D9D9D9;box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.32)">Nos tarifs</button>
                <button class="button " style="color: #FFF;font-family: Montserrat;font-size: 20px;font-style: normal;font-weight: 600;line-height: normal;text-transform: uppercase;border-radius: 9px;background: #0021F5;box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.32);" routerLink="/login">Se connecter</button>
            </div>
        </div>
        <div class="col-md-6 right-section">
          <img src="../assets/images/ILLUSTRA.png" alt="Image de droite ">
        </div>
  </div>
</div>
<app-body2></app-body2>
<app-body3></app-body3>