<app-header></app-header>
<div class="row body" >
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="margin-left: 60px;margin-top:80px">
            <p style="color: #FFF;font-family: Montserrat;font-size: 40px;font-style: normal;font-weight: 600;line-height: normal;">Plateforme pour booster <br> votre relation client grâce <br>aux <span style="color:#0B0146;;"> sms professionnel</span> <br> et l 'expertise PROOTE
            <p style="color: #FFF;font-family: Montserrat;font-size: 26px;font-style: normal;font-weight: 300;line-height: normal;">Nous vous accompagnons dans l'atteinte de vos objectifs, donnez vie à votre stratégie de communication avec la plateforme de référence PROOTE !</p>
            <div class="button-container ">
                <button class="button " style="color: #0F2EF5;font-family: Montserrat;font-size: 20px;font-style: normal;font-weight: 600;line-height: normal;text-transform: uppercase;border-radius: 9px;background: #D9D9D9;box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.32)">Nos tarifs</button>
                <button class="button " style="color: #FFF;font-family: Montserrat;font-size: 20px;font-style: normal;font-weight: 600;line-height: normal;text-transform: uppercase;border-radius: 9px;background: #0021F5;box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.32);" routerLink="/login">Se connecter</button>
            </div>
        </div>
        <div class="col-md-6 right-section">
          <img src="../assets/images/ILLUSTRA.png" alt="Image de droite ">
        </div>
  </div>
</div>
<app-body2></app-body2>
<app-body3></app-body3>
<div class="container">
   <div class="row">
       <div class="col-md-8 col-lg-8" style="margin-left:40px"><br>
          <label style=" font-size: 35px; font-family: Montserrat; font-weight: 600">Fonctionnalités de la plateforme PROOTE</label><br><br>
          <a href=""><h6 style="color: blue;font-family: Montserrat;font-size:35px"> <i class="fa-solid fa-paper-plane"></i> Marketing par SMS & SMS par masse</h6></a>
            <span style="margin-left:45px;font-weight: bold;">
              Envoyez facilement des SMS personnalisés a vos contacts,fusionnez les </span><br>
            <span style="margin-left: 45px;font-weight: bold;">
              messages,suivez les reponsess et profitez des fonctionnalités puissantes.
            </span><br><br>
          <a href=""><h6 style="color: blue;font-family: Montserrat;font-size:35px"> <i class="fa-solid fa-bell"></i> SMS de notification</h6></a>
          <span style="margin-left:45px;font-weight: bold;">
            Envoyez des SMS a vos clients,lorsqu'ils achetent,passent leurs commandes </span><br>
            <span style="margin-left:45px;font-weight: bold;">
               ou lorsque leurs commandes sont pretes.
            </span><br><br>
          <a href="/"><h6 style="color: blue;font-family: Montserrat;font-size:35px"> <i class="fa-solid fa-message"></i> Demande de commentaires & sondages</h6></a>
          <span style="margin-left:45px;font-weight: bold;">
            Demandez des commentaires avec des SMS bidirectionnels et faites des </span><br>
            <span style="margin-left:45px;font-weight: bold;"> sondages rapide par SMS.
          </span><br><br>
          <a href=""><h6 style="color: blue;font-family: Montserrat;font-size:35px"> <i class="fa-solid fa-key"></i> Mot de passe a usage unique et vérification a 2FA</h6></a>
          <span style="margin-left:45px;font-weight: bold;">
            Passerelle API puissante pour les mots de passe SMS OTP et activer </span><br>
            <span style="margin-left:45px;font-weight: bold;"> l'authentification a 2 facteurs.
          </span>
       </div>
       <div class="col-md-2 col-lg-2" >
          <img src="../../assets/images/iPhone 11 Render (1).png" alt="" style="margin-top: -270px;margin-left:-520px">
       </div>
   </div>
</div>
<div class="container-fluid credit-container position-relative" style="margin-top:-370px">
  <div class="row">
     <div class="col-md-12" style="margin-top:100px;margin-left:45px">
        <h1 style="color:white;font-family: Montserrat;font-weight:bold;font-size:45px">Payez simplement pour ce que vous utiliser</h1>
         <span style="color:white;font-size:25px">
            Pas de contrats, pas d'engagements, payez au fur et a mesure en fonction de votre bresoin. <br>Remises supplementaires pour l'utilisation d'API  SMS a volume élevé.
         </span>
         
     </div>
     <div class="col-md-5 d-grid" style="margin-left:300px"><br><br>
      <button class="btn btn-light left-button" style="border-radius: 18px 9px; color: #0021F5;; font-family: Montserrat; font-size: 30px; font-style: normal; font-weight: 600; line-height: normal; background: #F2EFEF; box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.32);">ACHETEZ DES CREDITS SMS</button>
     </div>
  </div>
</div>
