<div class="container-fluid">
  <div class="row">
    <!-- Left part -->
    <div class="col-md-7 bg-light" style="padding-top: 150px;">
      <div class="card card-login">
        <div class="card-body">
          <h2 class="card-title mb-4" style="font-size: 30px;">Bienvenue chez Proote</h2>
          <p class="header-info" style="font-size: 11px;">Pour accéder a votre plateforme, remplissez les champs de connexion</p>
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-group">
              <label for="email" style="font-size: 12px;">Email:</label>
              <input type="email" id="email" formControlName="email" class="form-control border-dark">
            </div>
            
            <div class="form-group">
              <label for="password" style="font-size: 12px;">Mot de passe: <a href="" class="forgetPassword-link">mot de passe oublié ?</a> </label>
              <input  type="{{ showPassword ? 'text' : 'password' }}" id="password" formControlName="password" class="form-control border-dark">
              <span class="input-group-text show-password-icon" (click)="togglePassword()">
                <i class="far" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
              </span>
            </div><br>
            
            <div class="row d-grid">
              <div class="col-sm-12 d-grid">
                <button [disabled]="isLoggingIn" type="submit" class="btn btn-light btn-block" (click)="onLogin()">{{ isLoggingIn ? 'Connexion en cours...' : 'Connexion' }}</button> 
              </div>
               <!-- Display the error message -->
              <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                {{ errorMessage }}
              </div>
              <p class="info">Vous n'avez pas encore de compte ? <a href="" routerLink="/sign-up">S'incrire ici</a></p>
            </div>
            
          </form>
        </div>
      </div><br>
      <p style="font-size: 11px;padding-left: 190px;">En vous inscrivant, vous creéz un compte et vous acceptez <a href=""> les Conditions <br> d'utilisation</a>  et la <a href="">Politique de confidentialité.</a></p>
    </div>

    <!-- Right part -->
    <div class="col-md-5 text-white p-20">
      <div class="text-center" >
        <img style="background-color: rgb(68, 68, 119)"  src="../../../assets/images/Group.png" alt="Application Logo" class="img-fluid">
      </div>
    </div>
  </div>
</div>
